.catalog {
    // .catalog__container
    &__container {
        display: flex;
        align-items: flex-start;
    }
    // .catalog__filtergit
    &__filter {
        flex: 0 0 toRem(295);
    }
    // .catalog__body
    &__body {
        flex: 1 1 auto;
        @include adaptiveValue("padding", 50, 20);
    }
    // .catalog__header
    &__header {
        display: flex;
        justify-content: space-between;
        gap: toRem(15);
        flex-wrap: wrap;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 50, 20);
        }
    }
    // .catalog__title
    &__title {
        font-size: toRem(22);
        font-weight: 600;
        color: $darkColor;
    }
    // .catalog__type
    &__type {}
    // .catalog__items
    &__items {
        display: grid;
        column-gap: toRem(24);
        @include adaptiveValue("row-gap", 50, 24);
        grid-template-columns: repeat(auto-fill, minmax(toRem(250), 1fr));
    }
}
.type-catalog {
    display: flex;
    column-gap: toRem(25);
    row-gap: toRem(10);
    // .type-catalog__item
    &__item {}
    // .type-catalog__button
    &__button {
        @extend .catalog__title;
        transition: all .3s ease-in-out;
        // .type-catalog__button--active
        &--active {
            color: $purplColor;
        }
        @media (any-hover: hover) {
            &:hover {
                color: $purplColor;
            }
        }
    }

}