// Заголовки
.title {
	@extend %CS;
	font-weight: 600;
	color: $darkColor;
	letter-spacing: toRem(.68);
	@include adaptiveValue("font-size", 36, 24);
	line-height: 1.1;
	display: flex;
	align-items: flex-start;
	gap: toEm(20, 36);
	&::before {
		content: '';
		background-color: $purplColor;
		border-radius: toRem(10);
		flex: 0 0 toRem(6);
		// margin-top: toRem(5);
		width: toRem(6);
		height: toEm(30, 36);
	}
	// .title--margin
	&--margin {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 70, 30);
		}
	}
}
// Product Prewiew Cart
.item-product {
	position: relative;
	display: grid;
	gap: toRem(30);
	&--category {
		gap: toRem(25);
	}
	// .item-product_picture-link
	&__picture-link {
		display: block;
	}
	// .item-product__image
	&__image {
		aspect-ratio: 282 / 370;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: toRem(10);
		.item-product--category & {
			aspect-ratio: 270 / 393;
		}
	}
	// .item-product__body
	&__body {
		display: grid;
		grid-template: auto auto / 1fr auto;
		row-gap: toRem(5);
		column-gap: toRem(35);
	}
	// .item-product__title
	&__title {
		font-weight: 600;
		color: $darkColor;

		min-width: 0;

		.item-product--category & {
			font-size: toRem(17);
			font-weight: 700;
		}
	}
	// .item-product__link-title
	&__link-title {

		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		display: block;

		text-decoration-color: transparent;
		transition: all .3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
				text-decoration-color: $darkColor;
			}
		}
	}
	// .item-product__label
	&__label {
		grid-row: 2 / 3;
		font-size: toRem(14);
		font-weight: 500;
	}
	&__link,
	&__price {
		// align-self: center;
		grid-column: 2 / 3;
		grid-row: span 2;
	}
	// .item-product__link
	&__link {
		display: flex;
		align-items: center;
		&::before {
			transition: all .3s ease-in-out;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #000;
			}
		}
	}
	// .item-product__price
	&__price {
		align-self: center; // ?
		border-radius: toRem(8);
		background-color: $liteColor;
		padding: toRem(10) toRem(20);
		font-weight: 700;
		font-size: toRem(14);
		color: $darkColor;
	}
	// .item-product__favorite
	&__favorite {
		position: absolute;
		top: toRem(26);
		right: toRem(20);
		width: toRem(32);
		height: toRem(32);
		border-radius: 50%;
		background-color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		&::before {
			transition: all .3s ease-in-out;
		}
		&--active {
			color: red;
		}
		@media (any-hover: hover) {
			&:hover {
				color: red;
			}
		}
	}
}
// Button
.button {
	font-family: "Causten";
	background-color: $purplColor;
	padding: toRem(16) toRem(20);
	font-size: toRem(18);
	font-weight: 500;
	color: #fff;
	line-height: 1.2222222;
	text-align: center;
	border-radius: toRem(8);
	transition: all .3s ease-in-out;
	@media (any-hover: hover) {
		&:hover {
			background-color: #6620C1;
			box-shadow: 0 toRem(3) toRem(4) 0 rgba(0, 0, 0, 0.1);
		}
		&:focus {
			background-color: #6620C1;
		}
		&:disabled {
			background-color: #EAEAEA;
			color: $mainColor;
			cursor: default;
		}
	}
	&--border {
		color: $darkColor;
		background-color: #fff;
		border: toRem(1) solid #BEBCBD;
		@media (any-hover: hover) {
			&:hover {
				color: $purplColor;
				background-color: #fff;
				box-shadow: none;
			}
		}
		&:focus {
			color: $purplColor;
			background-color: #fff;
			border: toRem(1) solid #6620C1;
		}
		&:disabled {
			background-color: #EAEAEA;
			color: $mainColor;
			cursor: default;
		}
	}
	&--white {
		color: $darkColor;
		background-color: #fff;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background-color: $purplColor;
			}
		}
		&:focus {
			color: #fff;
			background-color: $purplColor;
			box-shadow: none;
		}
		&:disabled {
			background-color: #EAEAEA;
			color: $mainColor;
			cursor: default;
		}
	}
}
// Rating
.rating {
	display: inline-flex;
	gap: toRem(15);
	align-items: center;
	// .rating__items
	&__items {
		display: inline-flex;
		align-items: flex-start;
		gap: toRem(7);
		height: toRem(20);
		overflow: hidden;
		// .rating--set {
		.rating--set & {
			@media (any-hover: hover) {
				&:hover {
					.rating__item {
						background: url('../img/icons/star-active.svg') 0 0 / toRem(20)
					}
				}
			}
		}
	}
	// .rating__item
	&__item {
		position: relative;
		flex: 0 0 toRem(20);
		width: toRem(20);
		background: url('../img/icons/star.svg') 0 0 / toRem(20)no-repeat;
		span {
			position: absolute;
			top: 0;
			left: 0;
			width: 0%;
			height: toRem(20);
			background: url('../img/icons/star-active.svg') 0 0 / toRem(20) no-repeat;
		}
		&.active {
			background: url('../img/icons/star-active.svg') 0 0 / toRem(20) no-repeat;
		}

		&:not(:last-child) {
			&::after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: toRem(7);
				transform: translateX(100%);
			}
		}
		// .rating--set
		.rating--set & {
			@media (any-hover: hover) {
				&:hover {
					~ .rating__item {
						background: url('../img/icons/star.svg') 0 0 / toRem(20) no-repeat;
						span {
							display: none;
						}
					}
				}
			}
		}
	}
	// .rating__input
	&__input {
		aspect-ratio: 1 / 1;
		width: 100%;
		opacity: 0;
		// .rating--set
		.rating--set & {
			cursor: pointer;
		}
	}
	// .rating__value
	&__value {
		font-size: toRem(18);
		align-self: center;
		font-weight: 500;
	}
}
// Breadcrumbs
.breadcrumbs {
	display: flex;
	font-size: toRem(18);
	font-weight: 500;
	gap: toRem(15);
	flex-wrap: wrap;
	line-height: 1.22;
	// .breadcrumbs__item
	&__item {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		gap: toRem(15);
		&::before {
			font-size: toRem(10);
		}
	}
	// .breadcrumbs__link
	&__link {
		transition: all .3s;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .breadcrumbs__current
	&__current {}
}
// Tabs
.tabs {
	// .tabs__navigation
	&__navigation {
		display: flex;
		flex-wrap: wrap;
		column-gap: toRem(30);
		row-gap: toRem(15);
		align-items: flex-start;
	}
	// .tabs__item
	&__item {}
	// .tabs__button
	&__button {
		font-size: toRem(18);
		display: flex;
		align-items: center;
		gap: toRem(15);
		line-height: 120%;
		position: relative;
		padding-bottom: toRem(18);
		transition: all 0.3s;
		@media (any-hover: hover) {
			&:hover {
				color: $darkColor;
			}
		}
		.active & {
			color: $darkColor;
			font-weight: 500;
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 50%;
				height: toRem(1);
				background-color: $darkColor;
			}
		}
	}
	// .tabs__comment-info
	&__comment-info {
		background: $purplColor;
		color: #fff;
		padding: toRem(4) toRem(6);
		border-radius: toRem(8);
		line-height: 1;
		font-size: toRem(10);
	}
	// .tabs__faq-info
	&__faq-info {
		@extend .tabs__comment-info;
		background-color: $darkColor;
	}
	// .tabs__body
	&__body {
		padding-top: toRem(30);
	}
	// .tabs__element
	&__element {}
}